<div class="container">
 <form [formGroup]="formularioespecialidades" (ngSubmit)="guardar()" enctype="multipart/form-data"style="background-color: beige">
    <legend style="font-family: Century">Hospital "Los Angeles"</legend>
    <div class="form-group">
      <h1 style="font-family: Bebas; margin-top: 50px;">Especialidades</h1><br>
    </div>
      <p></p>
      <div class="form-group">
      <label>¿Cuál es la especialidad del Doctor?</label>
      <input type="text" formControlName="nombre">
      </div>
      <p></p>
      <button type="submit" class="btn btn-primary mt-3" [disabled]="formularioespecialidades.invalid">Guardar</button>
      </form>
     </div>
     <h1 class="text-center">Registro</h1>
     <div class="container">
     <table class="table mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>¿Cuál es la especialidad del Doctor?</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let especialidad of especialidades">
          <td>{{especialidad.idEspecialidad}}</td>
          <td>{{especialidad.nombre}}</td>
          <td>
            <button class="btn btn-warning btn-sm"(click)="editar(especialidad)">Editar</button>
            <button class="btn btn-danger btn-sm"(click)="eliminar(especialidad)">Eliminar</button>
          </td>
          </tr>
      </tbody>
    </table>
    </div>

