<div class="container">
 <form style="background-color: beige">
    <legend style="font-family: Century">Hospital "Los Angeles"</legend>
    <div class="form-group">
      <h1 style="font-family: Bebas; margin-top: 50px;">Especialidades</h1><br>
    </div>
      <p></p>
      <div class="form-group">
      <label>¿Cuál es la especialidad del Doctor?</label>
      <input type="text" name="¿Cuál es la especialidad del doctor?" class="form-control">
      </div>
      <p></p>
      <button type="submit" class="btn btn-primary mt-3">Guardar</button>
      </form>
     </div>
     <h1 class="text-center">Registro</h1>
     <div class="container">
     <table class="table mt-4">
      <thead>
        <tr>
          <th>ID</th>
          <th>¿Cuál es la especialidad del Doctor?</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td>
            <button class="btn btn-warning btn-sm">Editar</button>
            <button class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

