
<div style="background-color: rgb(206, 242, 242)">
  <div class ="container">
  <font face="courier,arial,helvetica"><h2>DATOS PARA CONSULTA</h2></font>

	<form [formGroup]="formularioConsultas" (ngSubmit)="guardar()">

		<div class ="form-group">
      <font face= "courier,arial,helvetica"><label>FECHA DE LA CONSULTA</label></font>
		<input formControlName="fecha" type="text" class="form-control">
		</div>
		<div class ="form-group">
      <font face= "courier,arial,helvetica"><label>No. CONSULTORIO</label></font>
		<input formControlName="consultorio" type="text" class="form-control">
  </div>
  <div class ="form-group mt-4">
      <select formControlName="medico" class="form-select" aria-label="Default select example">
        <option selected>MEDICO </option>
        <option *ngFor="let medico of medicos" [ngValue]="medico.idMedico" >{{medico.nombres}}</option>
      </select>

      <select formControlName="especialidad"class="form-select" aria-label="Default select example">
        <option selected>ESPECIALIDAD </option>
        <option *ngFor="let especialidad of especialidades" [ngValue]="especialidad.idEspecialidad" value="especialidad.idEspecialidad">{{especialidad.nombre}}</option>
      </select>


      <select formControlName="paciente"class="form-select" aria-label="Default select example">
        <option selected>PACIENTE</option>
        <option  *ngFor="let paciente of pacientes" [ngValue]="paciente.idPaciente" value="paciente.idPaciente">{{paciente.nombres}}</option>
      </select>
</div>


<button type= "submit" class="btn btn-warning mt-3"> Guardar</button>
</form>
</div>
</div>
  <form style="background-color: rgb(164, 218, 218)">
<div class="container">
<table class="table mt-4">

	<thead>
		<tr>
      <td>ID.CONSULTA</td>
      <td>FECHA</td>
      <td>No. CONSULTORIO</td>
      <td>ESPECIALIDAD</td>
    <td>MEDICO</td>
    <td>NOMBRE DEL PACIENTE</td>
		</tr>
	</thead>
<tbody>
	<tr *ngFor="let consulta of consultas">
		<td>{{consulta.idConsulta}}</td>
			<td>{{consulta.fecha}}</td>
			<td>{{consulta.numConsultorio}}</td>
			<td>{{consulta.especialidad['nombre']}}</td>
      <td>{{consulta.medico['nombres']}}</td>
      <td>{{consulta.paciente['nombres']}}</td>
			<td>
        <button class="btn btn-dark btn-sm"> editar</button>
        <button class="btn btn-danger btn-sm"> eliminar</button>

		</td>
	</tr>
</tbody>
</table>
</div>
  </form>
