
  <form style="background-color: rgb(206, 242, 242)">
<div class ="container">
  <font face= "courier,arial,helvetica"><h2>DATOS PARA CONSULTA</h2></font>

	<form>

		<div class ="form-group">
      <font face= "courier,arial,helvetica"><label>FECHA DE LA CONSULTA</label></font>
		<input type="text" class="form-control">
		</div>
		<div class ="form-group">
      <font face= "courier,arial,helvetica"><label>No. CONSULTORIO</label></font>
		<input type="text" class="form-control">
  </div>
  <div class ="form-group mt-4">
      <select class="form-select" aria-label="Default select example" *ngFor="let medico of medicos">
        <option selected>MEDICO </option>
        <option value="medico.idMedico">{{medico.nombres}}</option>
      </select>
      <select class="form-select" aria-label="Default select example" *ngFor="let especialidad of especialidad">
        <option selected>ESPECIALIDAD</option>
        <option value="especialidad.idespecialidad">{{especialidad.nombre}}</option>
      </select>
      <select class="form-select" aria-label="Default select example" *ngFor="let pacientes of pacientes">
        <option selected>PACIENTE</option>
        <option value="paciente.idpaciente">{{pacientes.nombres}}</option>
      </select>
</div>


<button type= "submit" class="btn btn-warning mt-3"> Guardar</button>
</form>
</div>
  </form>
  <form style="background-color: rgb(164, 218, 218)">
<div class="container">
<table class="table mt-4">

	<thead>
		<tr>
      <td>ID.CONSULTA</td>
      <td>FECHA</td>
      <td>No. CONSULTORIO</td>
      <td>ESPECIALIDAD</td>
    <td>MEDICO</td>
    <td>NOMBRE DEL PACIENTE</td>
		</tr>
	</thead>
<tbody>
	<tr *ngFor="let consulta of consultas">
		<td>{{consulta.idConsulta}}</td>
			<td>{{consulta.fecha}}</td>
			<td>{{consulta.numConsultorio}}</td>
			<td>{{consulta.especialidad['nombre']}}</td>
      <td>{{consulta.medico['nombres']}}</td>
      <td>{{consulta.paciente['nombres']}}</td>
			<td>
        <button class="btn btn-dark btn-sm"> editar</button>
        <button class="btn btn-danger btn-sm"> eliminar</button>

		</td>
	</tr>
</tbody>
</table>
</div>
  </form>
