<app-navbar></app-navbar>
<div class="container   mt-3 center">
  <div class="row justify-content-between">

    <button (click)=medicos() class="container card bg-danger mb-3 col-md-5 justify-content-center" style="height: 250px; text-decoration: none;">
      <h1 class="align-self-center text-white"><i class="fad fa-user-nurse" style="font-size: 70px;"></i></h1>
      <p class="align-self-center text-white">Medicos</p>
    </button>
    <button (click)=especialidades() class="container card bg-warning mb-3 col-md-5 justify-content-center" style="height: 250px; text-decoration: none;">
      <h1 class="align-self-center text-white"><i class="far fa-users-crown" style="font-size: 70px;"></i></h1>
      <p class="align-self-center text-white">Especialidades</p>
    </button>
    <button (click)=pacientes() class="container card bg-success col-md-5 justify-content-center" style="height: 250px; text-decoration: none;">
      <h1 class="align-self-center text-white"><i class="fad fa-users-medical" style="font-size: 70px;"></i></h1>
      <p class="align-self-center text-white">Pacientes</p>
    </button>
    <button (click)=consultas() class="container card bg-secondary col-md-5 justify-content-center" style="height: 250px; text-decoration: none;">
      <h1 class="align-self-center text-white"><i class="fas fa-file-medical" style="font-size: 70px;"></i></h1>
      <p class="align-self-center text-white">Consultas</p>
    </button>
  </div>
</div>

<!-- Formulario de inicio de sesión -->